html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.question-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}
.options {
  display: flex;
  width: 25%;
  gap: 50px;
}
.option {
  display: flex;
  cursor: pointer;
  gap: 50px;
  font-size: 24px;
  border: solid 1px black;
  color: rgb(226, 149, 149);
  text-shadow: 2px 2px 3px rgb(95, 91, 91);
  background-color: azure;

}
.marger1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.marger2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.question-text{
	display: inline;
	font-size: 30px;
	font-style: italic;
	color: aliceblue;
	text-shadow: 2px 1px 3px rebeccapurple;
	box-shadow: 2px 2px 7px red;
	/* animation-name: tx; */
	animation-duration: 3s;
	animation-iteration-count: infinite;
   font-family:"new";
	
	
}
@font-face{
  font-family: "new"; 
  src: url(./fonts/bpg_arial_2009.ttf);
}
.font1{
  font-family:"new1";
}
@font-face{
  font-family: "new1";
  src: url(./fonts/3d_unicode.ttf);
}
.new2{
    font-family:"new2";

}
@font-face{
  font-family:"new2";
  src: url(./fonts/bpg_nino_mtavruli_bold.ttf);
}

@keyframes tx{
	10%{
			box-shadow: 2px 2px 7px rgb(5, 245, 85);
	}
	20%{
			box-shadow: 2px 2px 10px rgb(202, 202, 202);

	}
	30%{
			box-shadow: 2px 2px 4px rgb(72, 0, 206);

	}
	40%{
			box-shadow: 2px 2px 11px rgb(3, 224, 95);

	}
}
.correct{
  background-color: #12b806;
  border-color: #2707b6;
}
.incorrect {
  background-color: #f80808;
  border-color: #b89f9c;
}


.option2{
  gap: 10px;
}