
.button {
  width: 5%;
  padding: 10px;
  background-color: beige;
  box-shadow: 2px 4px 10px red;
  border-color: greenyellow;
}

#imgliv {
  width: 600px;
  height: 400px;
}

.buttonMarger{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#button1{
    padding: 5px;
}
#button2{
    padding: 5px;

}